# EditorConfig - Ven0m0/Win
# Optimized for Windows 10/11 PowerShell development
# https://editorconfig.org

root = true

# =============================================================================
# Default Settings
# =============================================================================
[*]
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = space
indent_size = 2
tab_width = 2
max_line_length = 120

[**.{ps1,psm1,psd1}]
end_of_line = crlf
charset = utf-8-bom
max_line_length = 115
indent_style = space
indent_size = 2
tab_width = 2

[*.{[Bb][Aa][Tt],[Cc][Mm][Dd]}]
# DOS/Win *requires* BAT/CMD files to have CRLF newlines
end_of_line = crlf
charset = utf-8-bom
indent_style = space
indent_size = 2
tab_width = 2

[**.{reg}]
end_of_line = crlf
charset = utf-8
indent_style = space
indent_size = 2

[*.{yml,yaml,json,jsonc}]
indent_size = 2
tab_width = 2
indent_style = space
end_of_line = lf

[**.{md,markdown}]
trim_trailing_whitespace = false
max_line_length = unset

[*.xml]
indent_size = 4

[*.ini,*.cfg,*.conf]
indent_size = 2
